.jumbotron {
    background-color: red;
    color: black;
    text-align: center;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 100px 50px 2px;
}

.btn-reserva {
    width: 100%;

}